h1{
    font-weight: bold;
    text-align: center;
    background-color: lightskyblue;
    padding: 10px;
    margin-left: 62px;
    margin-right: 62px;
}

#main-view {
    width: 100%;
    background-image: url("../image/img12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 475px;
    display:flex;
    align-items: center;
    justify-content: center;
}



/*#search-container input {
    margin-left: 10px;
}*/

#search-button {
    
}

/*footer { 
    display: block;
    height: 100px;
    background: yellowgreen;
}

