h1{
    font-weight: bold;
    text-align: center;
}

#main-view {
    width: 100%;
    background-image: url("../image/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#search-container {
    background: white;
    border: 1px solid gray;
    height: 65px;
}

#search-container input {
    margin-left: 10px;
}

#main-view button {
    
}

footer { 
    display: block;
    height: 100px;
    background: yellowgreen;
}

