
h1{
    color: rgb(105, 105, 105);
    text-align: center;
    font-weight: bold;
    background-color: none;
}

#header {
    background-image: url("https://i.pinimg.com/originals/31/12/81/31128181420688cf4eda6579ef7dfcc9.gif");
    /* background-image: url("https://media.giphy.com/media/YtPdK4YyUzBhC/200.gif"); */
    background-size: contfain;
    background-repeat:repeat;
    background-color: black;
    width: 100%;
    height: 75px;
    background-position: 0px -100px;
    position: relative;
}

h2 {
    font-weight: bold;
    font-size: 275%;
    text-align: center;
    padding: 10px;
    margin-left: 62px;
    margin-right: 62px;
    color: rgb(228, 228, 128);
     /* change the font color */
   -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

/* change the font color */
@-webkit-keyframes example {
   from {color: rgb(114, 32, 32);}
   to {color:rgb(228, 228, 157);}
}


body{
background-color: black;
color: white;
}

i{
    color: rgb(107, 104, 104);
}

#main-container{
    /* padding: 10px; */
    margin-left: 62px;
    margin-right: 62px;
    color: yellowgreen;
    font-family: 'Monoton', cursive;
    font-family: 'Bungee Inline', cursive;
}

body {
    background-color: black;
    color: white;
}

i {
    color: black;
}

#main-container {
    background-image: url("../image/img8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    /* Stacy's Changes */
    /* padding: 10px; */
/*     margin-left: 62px; */
/*     margin-right: 62px; */
    color:yellowgreen;
    font-family: 'Monoton', cursive;
    font-family: 'Bungee Inline', cursive;
}

#main-view {
    width: 100%;
    min-height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-container {
    background: white;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-container input {
    width: 400px;
    height: 40px;
    border: none;
}

footer{
    background-color:yellowgreen;
    height:50px;
    text-align: auto;
}

/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    height: 50px;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

.fa-instagram {
    background: salmon;
    color: purple;
}

.a {
    align-content: center;
    background-color: grey;
}

div.container {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* For cells of equal size */
    text-decoration-style: solid;
}

div.container span {
    display: table-cell;
    text-align: center;
}

#header {
    background-image: url("https://i.pinimg.com/originals/31/12/81/31128181420688cf4eda6579ef7dfcc9.gif");
    /* background-image: url("https://media.giphy.com/media/YtPdK4YyUzBhC/200.gif"); */
    background-size: contfain;
    background-repeat: repeat;
    background-color: black;
    width: 100%;
    height: 75px;
    background-position: 0px -100px;
    position: relative;
    text-align: center;
}

#searchBtn {
    background-color: rgb(238, 188, 63);
}

.img-container {
    padding: 6px;
    border: 8px outset rgb(238, 188, 63);
    /* border-image-source: url("../image/Music_Note_Pin.png") */
    background-image: linear-gradient( to right, rgb(243, 88, 88), rgb(238, 188, 63) 100%);
}

#results-container {
    background-image: url("../image/free-music-notes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}